<section id="products" class="py-10 bg-black opacity-80 text-white mb-10" >
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-4">Bestselling Gainers</h2>
    <div class="relative">
      <div class="overflow-x-auto pb-4 carousel flex gap-6 snap-x">
        
        <% for(let i=0;i<gainers.length;i++) {%>
        <div class="carousel-item min-w-[280px] sm:min-w-[320px] flex-shrink-0">
          <div class="product-card bg-white rounded-xl shadow-sm overflow-hidden h-full">
            <img src="<%= gainers[i].images[0] %>" alt="Collagen Peptides" class="w-full h-80 object-cover object-top">
            <div class="p-6">
              <div class="flex items-center mb-2">
                <div class="flex">
                  <i class="ri-star-fill text-yellow-400"></i>
                  <i class="ri-star-fill text-yellow-400"></i>
                  <i class="ri-star-fill text-yellow-400"></i>
                  <i class="ri-star-fill text-yellow-400"></i>
                  <i class="ri-star-fill text-yellow-400"></i>
                </div>
                <span class="text-gray-500 text-sm ml-2">5</span>
              </div>

              <h3 class="text-lg font-semibold mb-1"><%= gainers[i].name %></h3>
              <p class="text-gray-500 text-sm mb-3"><%= gainers[i].brand %>></p>
              <span class="text-xl font-bold">Rs:- <%= gainers[i].sizes[0].price %> || <%= gainers[i].sizes[0].size %> </span>
              <div class="flex justify-between items-center">
                <a href="/show/this/product/<%= gainers[i]._id %>" class="w-[100%]">
                  <button class="w-[100%] h-10 bg-yellow-400 text-white rounded-full flex items-center justify-center hover:yellow-400 transition-colors duration-300" style="border-radius: 8px;margin-top: 5px;">
                    Shop Now
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <%}%>  
        
      </div>
      <button class="absolute top-1/2 -left-4 transform -translate-y-1/2 w-12 h-12 bg-white shadow-md rounded-full flex items-center justify-center text-gray-700 hover:bg-gray-50 z-10 hidden md:flex">
        <i class="ri-arrow-left-s-line ri-lg"></i>
      </button>
      <button class="absolute top-1/2 -right-4 transform -translate-y-1/2 w-12 h-12 bg-white shadow-md rounded-full flex items-center justify-center text-gray-700 hover:bg-gray-50 z-10 hidden md:flex">
        <i class="ri-arrow-right-s-line ri-lg"></i>
      </button>
    </div>
    <div class="text-center mt-10">
      <a href="/search/products?query=gainer" class="inline-block py-3 px-8 bg-white text-primary font-semibold rounded-button border-2 border-primary hover:bg-gray-50 transition-colors duration-300 whitespace-nowrap">View All Products</a>
    </div>
  </div>
</section>